codeclimate-test-reporter==0.2.3
coverage==4.5.3
extras==1.0.0
fixtures==3.0.0
linecache2==1.0.0
mkdocs==1.0.4
mox3==0.27.0
pbr==5.3.1
py==1.8.0
pyfakefs==3.5.8
pytest==5.0.0
pytest-cov==2.5.1
pytest-runner==2.12
python-mimeparse==1.6.0
PyYAML==3.12
requests==2.18.4
six==1.10.0
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
